ion-content,
ion-row,
ion-grid {
  height: 100%;
  background: radial-gradient(circle, rgb(154, 0, 0) 40%, #5a000b);
}

ion-toolbar,
ion-header {
  --background: radial-gradient(circle, rgb(154, 0, 0) 40%, #5a000b);
}


ion-card {
  margin: 16px 0;
}

ion-card img {
  width: 100%;
  height: auto;
}

ion-card-title,
ion-card-subtitle {
  margin: 0;
}

.select {
  border: 2px solid var(--ion-color-primary);
}


.color3 {
  --ion-color-primary: #000000;
  --background: radial-gradient(circle, rgb(242, 72, 72) 40%, #800143);
}



.volver {
  font-size: 15px;
}

.color {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

.color2 {
  --color: #ffffff;
  --background: radial-gradient(circle, rgb(154, 0, 0) 40%, #5a000b);
}



.a {
  font-family: Arial, sans-serif;
}

#titulo {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

#btn_logout {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.select {
  outline: 5px solid var(--ion-color-primary);
}

// ion-toast {
//   --background: var(--ion-color-dark);
//   --button-color: var(--ion-color-light);
// }