<ion-header class="a">
  <ion-toolbar class="a">
    <ion-buttons slot="start" class="a">
      <ion-button id="btn_logout">
        <ion-icon name="chevron-back-outline" slot="start" class="a"></ion-icon>
        <p class="volver">Salir</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="h-100">
    <ion-row class="ion-align-items-center h-100">
      <ion-col size="12">
        <ion-button routerLink="/cosas-lindas" size="large" expand="block" class="bigger ion-padding" id="nice">
          Cosas Lindas
        </ion-button>
        <ion-button routerLink="/cosas-feas" size="large" expand="full" class="bigger2 ion-padding" id="ugly">
          Cosas Feas
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-alert Class="color3" trigger="btn_logout" header="¿Cerrar sesión?" [buttons]="logoutButtons"></ion-alert>